.box{
    height: 400px;
    width: 400px;
    border: 5px solid black;
    margin: 20px auto;
    position: relative;
}
.box1, .box2{
    height: 150px;
    width: 150px;
}
.box1{
    background-color:antiquewhite;
    /* القيمة الإفتراضية */
    /* position: static; */
    position: fixed;
    right: 50%;
}
.box2{
    background-color: aquamarine;
    /* لازم العنصر اللي يحتويه يكون relative */
    position: absolute;
    bottom: 0px;
    left: 0px;
    
}